/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
        overflow: hidden;
        height: 100%;
        width: 100%;
}

.landing {
    background-image: url("/img/landing.png");

}

.otsing {
    background-image: url("/img/otsing.png");
 
}

.otsing-more {
    background-image: url("/img/otsing-more.png");
}

.objekt {
    background-image: url("/img/objekt.png");
}

span {
    padding-top: 25px;
    font-family: 'Segoe UI';
    font-size: 26px;
    position: static;
    font-weight: 500;
}

.header {
        height: 200px;
        border: 2px;
        background-color: #ff00dc;
        opacity: 0.6;
}

.sidebar{
    width: 340px;
    position: relative;
    background-color: #f00;
    float: left;
    min-height: 2px;

}

.sidebar select{
    width: 100%;

}

.sidebar-content{
    display: none;
}

.content {
    width: 700px;
    height: 500px;
    background-color: #fff;
    float: left;
    padding: 15px;
}

.half{
    height: 200px;
}

.full{
    height: 470px;
}

.details {
    font-size: 32px;
    position: absolute;
    bottom: 0;
    right: 10px;
        
}
.search-triangle{
    position: absolute;
    left: 0;
    bottom: -68px;
    width: 0; 
    height: 0; 
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-top: 70px solid #f00;
   
}
.element:hover{
    background-color:#ECE8E2; 
}
a {
    color: #000000;
    text-decoration: none;
}
.element{
    width: 320px;
    float: left;
    padding: 10px;

}  
.element img{
    float: left;

}
.element p{
    margin-left: 210px;
}
.open-search{
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    text-align: center;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
.clear {
    clear: both;
}
@media (max-width: 1150px){
    .container{
        width: 960px;
    }
}