/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
        overflow: hidden;
        height: 100%;
        width: 100%;
}

.landing {
    background-image: url("/img/landing.png");

}

.otsing {
    background-image: url("/img/otsing.png");
 
}

.otsing-more {
    background-image: url("/img/otsing-more.png");
}

.objekt {
    background-image: url("/img/objekt.png");
}

span {
    padding-top: 25px;
    font-family: 'Segoe UI';
    font-size: 26px;
    position: static;
    font-weight: 500;
}

.header {
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
     
}
.login  {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
}
.login-field  {
    display: none;
}
.login-toggle{
    left: 50%;
    margin-left: -150px;
    background: green;
    text-align: center;
    cursor: pointer;
}

.content {
    margin-top: 120px;
    background-color: #fff;
    padding: 15px;
}
.detail-search{
    display: none;
}

.details {
    font-size: 32px;
    position: absolute;
    bottom: 0;
    right: 10px;
        
}
.search-box{
    margin-top: 78px;
}
.object:hover{
    background-color:#ECE8E2; 
}
.object-img{
    width: 25%;
    float: left;

}
.object-img img{
    width: 100%;
}
.object-text{
    width: 75%;
    float: left;
}
.object a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
}
.object{
    width: 45%;
    float: left;
    margin-left: 2.5%
    margin-right: 2.5%;
    padding: 10px;

}  
.open-search{
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    text-align: center;
}

.container{
    width: 1140px;
    margin: 0 auto;
    position: relative;
    min-height: 1px;
}
.clear {
    clear: both;
}
@media (max-width: 1150px){
    .container{
        width: 960px;
    }
}