body {
    background-repeat: no-repeat;
}

.landing {
    background-image: url("/img/landing.png");

}

.otsing {
    background-image: url("/img/otsing.png");
 
}

.otsing-more {
    background-image: url("/img/otsing-more.png");
}

.objekt {
    background-image: url("/img/objekt.png");
}

span {
    padding-top: 25px;
    font-family: 'Segoe UI';
    font-size: 26px;
    position: static;
    font-weight: 500;
}

.header {
    height: 165px;
}

.sidebar{
    width: 370px;
    position: relative;

}
.content {
    margin-left: 390px;
    margin-top: -70px;
    width: 300px;
    height: 170px;
    background-color: #fff;
}

.half{
    height: 200px;
}

.full{
    height: 470px;
}

.details {
    font-size: 32px;
    position: absolute;
    bottom: 0;
    right: 10px;
        
}
.search-triangle{
    width: 370px;
    height: 90px;
   
}
.search-button{
    position: absolute;
    left: 130px; 
}
